nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  width: 80%;
  border-radius: 2.5rem;
  padding: 0.5rem;
}

li {
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  text-align: center;
}

a {
  color: black;
  font-size: 1.2rem;
}

a:hover {
  color: hsl(197, 57%, 46%);
}

.active {
  background-color: black;
}

.active a {
  color: white;
}
