<h2 mat-dialog-title>Excluir esta imagem?</h2>
<mat-dialog-content>
  <div class="content">
    <p>
      Você tem certeza que quer excluir a imagem
      <strong>"{{ userData.userFileName }}"</strong>?
    </p>
    <p>
      Atenção! Esta é uma ação sem volta e esta imagem será deletada
      <span>permanentemente.</span>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancelar</button>
  <button
    mat-stroked-button
    mat-dialog-close="from delete button"
    color="warn"
    class="delete-button"
    (click)="delete()"
  >
    Sim, quero excluir
  </button>
</mat-dialog-actions>
