.delete-button:hover,
.delete-button:focus {
  background-color: red;
  color: white;
}

h2 {
  font-weight: 700;
  color: red;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

span {
  font-weight: 700;
  color: red;
}
