<div class="backdrop" (click)="onClose()"></div>
<div class="rename-content">
  <h2>Renomear imagem</h2>
  <form [formGroup]="form">
    <mat-form-field class="no-padding-on-errors-globally">
      <mat-label>Novo nome</mat-label>
      <input matInput formControlName="newName" />
      <mat-error *ngIf="form.get('newName')!.hasError('required')">
        Digite algum nome.
      </mat-error>
    </mat-form-field>
  </form>
  <div class="align-end">
    <button mat-stroked-button (click)="onClose()">Cancelar</button>
    <button
      mat-stroked-button
      class="save-button"
      color="accent"
      [disabled]="!form.valid"
      (click)="onSave(form.get('newName')!.value)"
    >
      Salvar nome
    </button>
  </div>
</div>
