<section>
  <article class="no-images-container" *ngIf="isImagesArrayEmpty$ | async">
    <app-no-images-image></app-no-images-image>
    <article class="text">
      <h3>Você ainda não tem imagens salvas nesta galeria.</h3>
      <p>
        Dê às suas imagens um lar digital seguro. Vá para a página de novo
        upload, adicione uma ou mais imagens e volte para gerenciar sua galeria
        neste espaço!
      </p>
      <button
        (click)="headsToUploadImagesPage()"
        mat-raised-button
        color="primary"
      >
        Ir para novo upload
      </button>
    </article>
  </article>
  <article *ngIf="isLoadding$ | async" class="loader">
    <mat-spinner diameter="125"></mat-spinner>
  </article>
  <article>
    <ul>
      <li
        class="image-card"
        *ngFor="let image of images; let imageIndex = index"
      >
        <div
          class="image"
          [ngStyle]="{ 'background-image': 'url(' + image.url + ')' }"
        ></div>

        <div class="info">
          <article>
            <h3 *ngIf="!isMediumScreen">{{ getShortName(image.fullName) }}</h3>
            <h3 *ngIf="isMediumScreen">{{ image.fullName }}</h3>
            <p>{{ getRelativeTime(image.timeCreated) }}</p>
          </article>
          <article class="aside">
            <p class="size">{{ image.size }}</p>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu>
              <button mat-menu-item (click)="showImageInFullScreen(imageIndex)">
                <mat-icon>fullscreen</mat-icon>Mostrar imagem
              </button>
              <button
                mat-menu-item
                [ngStyle]="{ color: 'red' }"
                (click)="deleteImage(image.fullName, imageIndex)"
              >
                <mat-icon color="warn">delete_outline</mat-icon>Excluir
              </button>
            </mat-menu>
          </article>
        </div>
      </li>
    </ul>
  </article>
  <app-full-screen-image
    *ngIf="isFullScreenMode"
    [currentImage]="imageUrl"
    [images]="images"
    (close)="closeFullScreenMode()"
  ></app-full-screen-image>
</section>
