section {
  border-top: 1px solid #ebeff2;
}

.no-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}

.single-image {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ebeff2;
}

img {
  width: 4.5rem;
}
