<section>
  <article class="no-images-container" *ngIf="isImagesArrayEmpty$ | async">
    <app-no-images-image></app-no-images-image>
    <article class="text">
      <h3>Você ainda não tem imagens salvas nesta galeria.</h3>
    <p>
        Dê às suas imagens um lar digital seguro. Vá para a página de novo
        upload, adicione uma ou mais imagens e volte para gerenciar sua galeria
        neste espaço!
    </p>
      <button
        (click)="headsToUploadImagesPage()"
        mat-raised-button
        color="primary"
      >
        Ir para página de novo upload
      </button>
    </article>
  </article>
  </div>
  <div *ngIf="isLoadding$ | async">Carregando imagens...</div>
  <ul>
    <li class="single-image" *ngFor="let data of images; let i = index">
      <div class="image">
        <img [src]="data.url" alt="" />
      </div>
      <div class="info">
        <h4>{{ data.name }}</h4>
        <p>{{ data.size }}</p>
        <p>{{ data.timeCreated }}</p>
      </div>
    </li>
  </ul>
</section>
