<article>
  <div class="backdrop" (click)="onClose()"></div>
  <button mat-icon-button class="left" (click)="onPrevious()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-icon-button class="right" (click)="onNext()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button mat-icon-button class="close" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="fullscreen">
    <img [src]="currentImage" class="fullscreen__image" />
  </div>
</article>
