<header class="header">
  <div class="header__logo">
    <span></span>
  </div>
  <div class="header__buttons">
    <button mat-button (click)="navigateToLogin()">Logar</button>
    <button mat-raised-button color="primary" (click)="navigateToSignup()">
      Criar conta
    </button>
  </div>
</header>

<div class="main-page">
  <section class="hero">
    <article class="hero__info">
      <h1>Libere espaço e salve suas imagens numa galeria virtual gratuita.</h1>
      <p>
        O seu espaço pessoal mais seguro e protegido para suas imagens na
        internet. Proteja suas memórias, gerencie-as a qualquer momento e tenha
        muito mais espaço local.
      </p>
      <button mat-raised-button color="primary" (click)="navigateToSignup()">
        Criar conta grátis
      </button>
    </article>
    <div class="hero__image">
      <img
        src="../../assets/hero-image.jpg"
        alt="Ilustração de um homem adulto em pé segurando um quadro de foto, fazendo o movimento de encaixar o quadro na tela de um site."
      />
    </div>
  </section>

  <section class="how-it-works">
    <span class="section-label">Como funciona</span>
    <h2>Salve suas imagens no próprio espaço virtual</h2>

    <article class="how-it-works__items">
      <article class="how-it-works__item">
        <span class="icon">
          <mat-icon>login</mat-icon>
        </span>
        <h3>Crie sua conta gratuita</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          dicta adipisci possimus fugit ad quo rerum corporis omnis beatae iusto
          quasi obcaecati reprehenderit.
        </p>
      </article>
      <article class="how-it-works__item">
        <span class="icon">
          <mat-icon>cloud_queue</mat-icon>
        </span>
        <h3>Faça uploads de novas imagens</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          dicta adipisci possimus fugit ad quo rerum corporis omnis beatae iusto
          quasi obcaecati reprehenderit.
        </p>
      </article>
      <article class="how-it-works__item">
        <span class="icon">
          <mat-icon fontSet="material-icons-outlined">collections</mat-icon>
        </span>
        <h3>Acesse sua galeria</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          dicta adipisci possimus fugit ad quo rerum corporis omnis beatae iusto
          quasi obcaecati reprehenderit.
        </p>
      </article>
    </article>
  </section>

  <section class="app-screenshot">
    <article class="app-screenshot__text">
      <span class="section-label">Plataforma completa</span>
      <h2>Lorem ipsum olor sit amet consectetur adipisicing eli!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde,
        aspernatur corporis, dolores saepe perspiciatis facilis explicabo
        voluptatibus nostrum alias veniam libero nemo optio, ipsa dolor numquam
        voluptates deleniti eveniet repudiandae!
      </p>
    </article>
    <article class="app-screenshot__photo"></article>
  </section>

  <section class="features">
    <article class="features__section--reverse">
      <div class="features__image"></div>
      <div>
        <span class="section-label">Lorem1</span>
        <article class="features__text">
          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugit ut,
            dolor corporis!
          </h3>
          <p>
            Lorem ipsum dolor sit incidunt odit molestiae error voluptates odio
            blanditiis doloremque libero aliquid, ratione temporibus nesciunt eos
            eaque possimus! Debitis!
          </p>
          <ol>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ol>
          <button mat-raised-button color="primary" (click)="navigateToSignup()">
            Criar conta grátis
          </button>
        </article>
      </div>
    </article>
    <article class="features__section">
      <div class="features__image"></div>
      <div>
        <span class="section-label">Lorem2</span>
        <article class="features__text">
          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugit ut,
            dolor corporis!
          </h3>
          <p>
            Lorem ipsum dolor sit incidunt odit molestiae error voluptates odio
            blanditiis doloremque libero aliquid, ratione temporibus nesciunt eos
            eaque possimus! Debitis!
          </p>
          <ol>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ol>
          <button mat-raised-button color="primary" (click)="navigateToSignup()">
            Criar conta grátis
          </button>
        </article>
      </div>
    </article>
    <article class="features__section--reverse">
      <div class="features__image"></div>
      <div>
        <span class="section-label">Lorem3</span>
        <article class="features__text">
          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugit ut,
            dolor corporis!
          </h3>
          <p>
            Lorem ipsum dolor sit incidunt odit molestiae error voluptates odio
            blanditiis doloremque libero aliquid, ratione temporibus nesciunt eos
            eaque possimus! Debitis!
          </p>
          <ol>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ol>
          <button mat-raised-button color="primary" (click)="navigateToSignup()">
            Criar conta grátis
          </button>
        </article>
      </div>
    </article>
  </section>

  <section class="faq"></section>
</div>

<footer class="footer">
  <span class="footer__logo"></span>
  <p>© 2023 Sem nome. Todos os direitos reservados</p>
</footer>
