<header>
  <nav class="nav">
    <div class="nav__links">
      <div></div>
      <ul class="nav__links-list">
        <li><a (click)="scrollToSection('hero')">Início</a></li>
        <li><a (click)="scrollToSection('how-it-works')">Como funciona?</a></li>
        <li><a (click)="scrollToSection('features')">Funcionalidades</a></li>
        <li><a (click)="scrollToSection('faq')">Suporte</a></li>
      </ul>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu>
      <ul class="nav__links">
        <li mat-menu-item section-link>
          <a (click)="scrollToSection('hero')">Início</a>
        </li>
        <li mat-menu-item section-link>
          <a (click)="scrollToSection('how-it-works')">Como funciona?</a>
        </li>
        <li mat-menu-item section-link>
          <a (click)="scrollToSection('features')">Funcionalidades</a>
        </li>
        <li mat-menu-item section-link>
          <a (click)="scrollToSection('faq')">Suporte</a>
        </li>
        <li mat-menu-item><a (click)="navigateToLogin()">Logar</a></li>
        <li mat-menu-item><a (click)="navigateToSignup()">Criar conta</a></li>
      </ul>
    </mat-menu>

    <div class="nav__buttons">
      <button mat-button (click)="navigateToLogin()">Logar</button>
      <button mat-raised-button color="primary" (click)="navigateToSignup()">
        Criar conta
      </button>
    </div>
  </nav>
</header>

<div class="main-page">
  <section class="hero" id="hero">
    <article class="hero__text">
      <h1>Você gostaria de ter mais espaço para suas fotos?</h1>
      <p>
        Conheça o seu espaço pessoal mais seguro e protegido para suas imagens
        na internet. Suas memórias protegidas e organizadas para que você possa
        liberar mais espaço para o seu mobile ou desktop.
      </p>
      <button mat-raised-button color="primary" (click)="navigateToSignup()">
        Criar conta grátis
      </button>
    </article>

    <div class="hero__image">
      <img
        src="../../assets/hero-image.png"
        alt="Fotos das telas principais do aplicativo."
      />
    </div>
  </section>

  <section class="how-it-works" id="how-it-works">
    <span class="section-label">Como funciona</span>
    <h2>Salve suas imagens no próprio espaço virtual</h2>

    <article class="how-it-works__items">
      <article class="how-it-works__item">
        <span class="icon">
          <mat-icon>login</mat-icon>
        </span>
        <div class="text">
          <h3>Crie sua conta gratuita</h3>
          <p>
            Não precisamos mais do que apenas seu nome, email e senha para que
            você acesse sua galeria pessoal totalmente gratuita.
          </p>
        </div>
      </article>
      <article class="how-it-works__item">
        <span class="icon">
          <mat-icon>cloud_queue</mat-icon>
        </span>
        <h3>Faça uploads de novas imagens</h3>
        <p>
          Suba uma ou mais imagens na página de novo upload. Assim, você
          incluirá suas imagens no seu espaço virtual de forma segura.
        </p>
      </article>
      <article class="how-it-works__item">
        <span class="icon">
          <mat-icon fontSet="material-icons-outlined">collections</mat-icon>
        </span>
        <h3>Acesse sua galeria</h3>
        <p>
          Simples assim! Todas suas imagens que foram previamente carregadas na
          página de novo upload estarão disponíveis aqui.
        </p>
      </article>
    </article>
  </section>

  <section class="app-screenshot">
    <article class="app-screenshot__text">
      <span class="section-label">Plataforma completa</span>
      <h2>Imagens armazenadas na plataforma e muito mais espaço local</h2>
      <p>
        <strong> Basta de espaço cheio no seu dispositivo! </strong>
        Ao enviar fotos para sua galeria virtual, você pode apagar-las do seu
        aparelho e liberar espaço extra. Simples e eficiente!
      </p>
    </article>
    <article class="app-screenshot__photo">
      <img
        src="../../assets/macbook-mockup.png"
        alt="Foto da tela da galeria do usuário num macbook"
        loading="lazy"
      />
    </article>
  </section>

  <section class="features" id="features">
    <article class="features__section--reverse">
      <div class="features__image">
        <img
          src="../../assets/create-account-ss.png"
          alt="Fotos das telas de criar conta e de logar."
          loading="lazy"
        />
      </div>
      <div>
        <span class="section-label">Cadastro</span>
        <article class="features__text">
          <h3>Crie uma conta grátis com acesso rápido</h3>
          <p>
            Nos conte apenas o seu nome, email e senha e já estará pronto para
            começar. Encante sua mais nova galeria virtual com suas memórias
            preciosas e libere um espaço extra na sua galeria local.
          </p>
          <button
            mat-raised-button
            color="primary"
            (click)="navigateToSignup()"
          >
            Criar conta grátis
          </button>
        </article>
      </div>
    </article>
    <article class="features__section">
      <div class="features__image">
        <img
          src="../../assets/uploads-ss.png"
          alt="Foto da tela de subir novas imagens para a galeria."
          loading="lazy"
        />
      </div>
      <div>
        <span class="section-label">Subir imagens</span>
        <article class="features__text">
          <h3>Envio de imagens simplificado</h3>
          <p>
            Clique na área destacada para escolher as imagens que deseja
            guardar, ou simplesmente, arraste elas até a área. Com sucesso, você
            verá todas as suas imagens carregadas na sua galeria virtual.
          </p>
          <button
            mat-raised-button
            color="primary"
            (click)="navigateToSignup()"
          >
            Criar conta grátis
          </button>
        </article>
      </div>
    </article>
    <article class="features__section--reverse">
      <div class="features__image">
        <img
          src="../../assets/gallery-ss.png"
          alt="Foto da tela de galeria de imagens."
          class="drop-shadow"
          loading="lazy"
        />
      </div>
      <div>
        <span class="section-label">Galeria</span>
        <article class="features__text">
          <h3>
            Organize sua galeria e veja o registro de quantas imagens você
            enviou para o servidor.
          </h3>
          <p>
            Saiba quando e quantas imagens você já enviou. Na sua galeria está o
            registro de todas as imagens que você armazenou com a gente. Legal,
            não é mesmo? Deixe de esperar para dar um lar digital para as suas
            imagens favoritas.
          </p>
          <button
            mat-raised-button
            color="primary"
            (click)="navigateToSignup()"
          >
            Criar conta grátis
          </button>
        </article>
      </div>
    </article>
  </section>

  <section class="faq" id="faq">
    <div>
      <span class="section-label">Suporte</span>
      <article class="faq__text">
        <h2>Dúvidas Frequentes</h2>
        <p>
          Para o que você precisar saber sobre a nossa solução. Ainda está com
          dúvidas?
        </p>
        <button mat-stroked-button>Falar com o suporte</button>
      </article>
    </div>

    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Como funciona o armazenamento online de imagens?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Nosso serviço permite que você carregue suas imagens pela página de
          "novo upload", para armazenar em um espaço virtual seguro. Você pode
          acessá-las de qualquer lugar, a qualquer momento, usando a página
          "galeria".
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Minhas imagens estarão seguras?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Absolutamente. Investimos em tecnologias de segurança avançadas para
          proteger suas imagens contra ameaças cibernéticas. Seus dados são
          criptografados e mantidos em servidores altamente seguros.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Como faço para acessar minhas imagens armazenadas?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Faça login em sua conta através da página de login usando e-mail e
          senha se já é cadastrado. Assim que logar, e se já realizou o trabalho
          de subir novas imagens, as suas imagens estarão lá, prontas para serem
          visualizadas.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Quanta capacidade de armazenamento gratuito eu tenho?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Ao iniciar sua jornada conosco, você receberá generosos 10 GB de
          espaço de armazenamento gratuito. Isso significa que você pode
          aproveitar ao máximo nossa plataforma enquanto sua galeria pessoal
          cresce, mantendo suas lembranças sempre acessíveis e protegidas.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>E se eu precisar de mais espaço de armazenamento?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Oferecemos planos escaláveis que se ajustam às suas necessidades. Você
          pode facilmente fazer upgrade para um plano com mais espaço conforme
          sua galeria pessoal cresce.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>O que acontece se eu decidir cancelar minha assinatura?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Se você decidir cancelar, suas imagens continuarão seguras por um
          período determinado. Durante esse tempo, você terá a opção de fazer o
          download ou transferir suas imagens para outro serviço. Queremos
          garantir uma transição tranquila, mesmo se você optar por sair.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>

<footer class="footer">
  <span class="footer__logo"></span>
  <p>© 2023 Sem nome. Todos os direitos reservados</p>
</footer>
