section {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

ul {
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid #ebeff2;
  border-radius: 2.5rem;
  padding: 0.25rem;
}

li {
  padding: 1rem;
  border-radius: 2.5rem;
  text-align: center;
}

a {
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

a:hover {
  color: hsl(197, 57%, 46%);
}

.active,
.active a {
  background-color: black;
  color: white;
  fill: #ffffff;
  border: none;
}

button {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ebeff2;
  outline: none;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  transition: background-color 0.2s ease;
  overflow: hidden;
  position: relative;
}

button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0rem;
  height: 4rem;
  transition: width 0.15s ease;
  background-color: rgba(0, 0, 0, 0.1);
}

button:active:after {
  width: 4rem;
}

.settings-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2px;
  background-color: #ffffff;
  border: 1px solid #ebeff2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 250px;
  border-radius: 10px;
  position: absolute;
  bottom: -100%;
  right: 1.5rem;
  z-index: 5;
}

.settings-box a {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.settings-box a svg {
  vertical-align: sub;
  margin-right: 0.25rem;
}

.settings-box a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
