<section>
  <header>
    <p></p>
    <nav>
      <ul>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="galeria">Galeria</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="upload">Novo Upload</a>
        </li>
      </ul>
    </nav>
    <button
      class="toggle-settings-button"
      test-id="toggle-settings-button"
      (click)="showSettingsBox = !showSettingsBox"
      [ngClass]="{ active: showSettingsBox }"
      [style.border]="showSettingsBox ? 'none' : '1px solid #ebeff2'"
    >
      <svg
        *ngIf="!userPhotoURL"
        class="user-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
      >
        <path
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
        />
      </svg>

      <div *ngIf="userPhotoURL" class="user-photo-container">
        <div
          class="user-photo"
          [ngStyle]="{ 'background-image': 'url(' + userPhotoURL + ')' }"
        ></div>
      </div>
    </button>
  </header>

  <div
    class="backdrop"
    *ngIf="showSettingsBox"
    (click)="showSettingsBox = !showSettingsBox"
  ></div>

  <div class="settings-box" *ngIf="showSettingsBox">
    <div class="user-info">
      <div class="user-icon-container" *ngIf="!userPhotoURL">
        <div class="user-icon">
          <input
            type="file"
            accept=".png, .jpg"
            (change)="onPhotoSelected($event)"
          />
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            />
          </svg>
          <div class="edit-icon">
            <mat-icon>edit</mat-icon>
          </div>
          <div class="loader" *ngIf="isLoading">
            <mat-spinner color="accent" diameter="40"></mat-spinner>
          </div>
        </div>
      </div>
      <p *ngIf="!userPhotoURL">
        <i><strong>Dica:</strong> Adicione uma linda foto de perfil!</i>
      </p>
      <div *ngIf="userPhotoURL" class="user-photo-container">
        <div
          class="user-photo"
          [ngStyle]="{ 'background-image': 'url(' + userPhotoURL + ')' }"
        >
          <input
            type="file"
            accept=".png, .jpg"
            (change)="onPhotoSelected($event)"
          />
          <div class="edit-icon">
            <mat-icon>edit</mat-icon>
          </div>
          <div class="loader" *ngIf="isLoading">
            <mat-spinner color="accent" diameter="40"></mat-spinner>
          </div>
        </div>
      </div>
      <h3>{{ userName }}</h3>
      <p>{{ userEmail }}</p>
    </div>
    <button test-id="logout-button" class="logout-button" (click)="logout()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="30"
        viewBox="0 -960 960 960"
        width="30"
      >
        <path
          d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h299v60H180v600h299v60H180Zm486-185-43-43 102-102H360v-60h363L621-612l43-43 176 176-174 174Z"
        />
      </svg>
      Sair desta conta
    </button>
  </div>
</section>
