<section>
  <header>
    <p></p>
    <nav>
      <ul>
        <li
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="galeria">Galeria</a>
        </li>
        <li routerLinkActive="active" ariaCurrentWhenActive="page">
          <a routerLink="upload">Novo Upload</a>
        </li>
      </ul>
    </nav>
    <button
      class="toggle-settings-button"
      test-id="toggle-settings-button"
      (click)="showSettingsBox = !showSettingsBox"
      [ngClass]="{ active: showSettingsBox }"
      [style.border]="showSettingsBox ? 'none' : '1px solid #ebeff2'"
    >
      <svg
        *ngIf="!userPhotoURL"
        class="user-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
      >
        <path
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
        />
      </svg>

      <div *ngIf="userPhotoURL" class="user-photo-container">
        <div
          class="user-photo"
          [ngStyle]="{ 'background-image': 'url(' + userPhotoURL + ')' }"
        ></div>
      </div>
    </button>
  </header>

  <div
    class="backdrop"
    *ngIf="showSettingsBox"
    (click)="showSettingsBox = !showSettingsBox"
  ></div>

  <div class="settings-box" *ngIf="showSettingsBox">
    <div class="user-info">
      <div class="user-icon-container" *ngIf="!userPhotoURL">
        <div class="user-icon">
          <input
            type="file"
            accept=".png, .jpg"
            (change)="onPhotoSelected($event)"
          />
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            />
          </svg>
          <div class="edit-icon">
            <mat-icon>edit</mat-icon>
          </div>
          <div class="loader" *ngIf="isLoading">
            <mat-spinner color="accent" diameter="40"></mat-spinner>
          </div>
        </div>
      </div>
      <p *ngIf="!userPhotoURL">
        <strong>Dica:</strong> Clique acima para adicionar uma foto de perfil.
      </p>
      <div *ngIf="userPhotoURL" class="user-photo-container">
        <div
          class="user-photo"
          [ngStyle]="{ 'background-image': 'url(' + userPhotoURL + ')' }"
        >
          <input
            type="file"
            accept=".png, .jpg"
            (change)="onPhotoSelected($event)"
          />
          <div class="edit-icon">
            <mat-icon>edit</mat-icon>
          </div>
          <div class="loader" *ngIf="isLoading">
            <mat-spinner color="accent" diameter="40"></mat-spinner>
          </div>
        </div>
      </div>
      <h3>{{ userName }}</h3>
      <p>{{ userEmail }}</p>
    </div>
    <button class="support-button">
      <mat-icon>help_outlined</mat-icon>
      <a
        href="https://api.whatsapp.com/send?phone=+5511910380720&text=Olá, Suporte da Galeria Pessoal! Gostaria de tirar algumas dúvidas ou abrir um chamado por conta de uma dificuldade que estou tendo com o serviço."
        target="_blank"
        >Falar com o suporte</a
      >
    </button>
    <button test-id="logout-button" class="logout-button" (click)="logout()">
      <mat-icon>logout</mat-icon>Sair da conta
    </button>
  </div>
</section>
